PORT=8080
AZURE_TENANT_ID=<TENANT_ID>
AZURE_API_AUDIENCE=api://<API_CLIENT_ID>
ALLOWED_ORIGINS=http://localhost:5173

SHIPMENTS_URL=http://localhost:8081
CATALOG_URL=http://localhost:8082
AUDIT_URL=http://localhost:8085
REPORT_URL=http://localhost:8084
NOTIFY_URL=http://localhost:8083
